body{
    font-family: 'Mystery Quest', cursive;
 background-image: linear-gradient(blue,skyblue,lightgreen);
}

.header_div
{
    background : blueviolet;
    color:greenyellow;
}
.header_div p 
{
    font-family: Arial, Helvetica, sans-serif ;
    color:rgb(0, 33, 68);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 500;
}
.main_div button{
     font-family: 'Mystery Quest', cursive;
    margin-top:30px ;
    width:130px;
    font-weight:bolder;
    letter-spacing:3px;
}
.copy_right_footer{
    position:fixed;
    color:grey;
    bottom:0;
    width:100%;
    font-size: 18px;
    background-color: antiquewhite;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(188, 183, 183);
}
